body{
  background-image: linear-gradient(to right, #3e4b64, #7d97a5);
  margin: 3%;
}


.logo{
  display: inline-flexbox;
  align-items: center;
  display: flex;
justify-content: space-between;
  margin-top:2%;

}

.ft{
  height: 45px;
}
.p{
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  justify-content: flex-end;
  margin-right:40px;
  display: inline;
  font-weight: bold;

}
.t2{
  margin-top: 12%;
   text-align: center;
   font-size: 40px;
   font-family: Oswald;
   color:#394055 ;
}
.h{
  margin-top: -5%;
  margin-left: 10%;
  font-family: Oswald;
}
.t3{
  margin-top: -15%;
  margin-left: 68%;
  font-family: Oswald;

}
.ps{
  margin-top: -3%;
  color: #394055;
}
.help-card {
  display: inline-block;
  background-image: linear-gradient(to right, #8e8f91, #ffffff);
  padding: 5px;
  margin-top: 6%;
  text-align: center;
  box-shadow: black;
  border-radius: 10%;
  height: 38%;
  width: 18%;
  margin-right: 10px;
  transition: 0.25s;
  cursor: pointer;



}
p{
  padding: 5px;
  margin-top: -5%;
  font-family: Oswald;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}
h3{
  margin-top: 2%;
  font-family: Oswald;
}
.help-card {
  transition: transform 0.3s ease;
  animation-direction: alternate;
}

.help-card:hover {
  transform: translateX(20px);
  animation: alternate;
}
